<!DOCTYPE html>

{% extends "../navbar.html" %}

{% block title %}My agents{% end %}

{% block body %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>IP Address</th>
          <th>Permission</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents %}
        <tr>
          <th scope="row"><code>{{ agent.name }}</code></th>
          <td >{{ agent.host }}</td>
          <td class="text-success">{{ permission(agent).name }}</td>
          <td><a href="/agent/manage/{{ agent.id }}" target="_blank">manage</a></td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}