<!DOCTYPE html>

{% extends "../navbar.html" %}

{% block title %}Manage{% end %}

{% block head %}
<link href="/static/css/agent.manage.css" rel="stylesheet">
{% end %}

{% block body %}
<div class="container form-block">


  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th> 
        <th></th>
       </tr>
     </thead>
     <tbody>
      <tr>
        <th scope="row">Name</th>
        <td id="">{{ agent.name }}</td>
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td>{{ agent.host }}</td>
      </tr>
      <tr>
        <th scope="row">Agent port</th>
        <td>{{ agent.port }}</td>
      </tr>
      <tr>
        <th scope="row">Service port</th>
        <td>8080</td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td>{{ status }}</td>
      </tr>
      <tr>
        <th scope="row">Package</th>
        <td><a href="/res/packages/{{ rel_path }}">{{ rel_path }}</a></td>
      </tr>

    </tbody>
  </table>
  


  <div class="input-group">
    <span class="input-group-addon" id="basic-addon2">new package</span>
    <input id="inputName" type="text" class="form-control" placeholder="Choose new package" aria-describedby="basic-addon2">
  </div>

  <div class="button-holder">
    <button id="uploadBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
    </button>
    <button id="pullBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Pull
    </button>
    <button id="startBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start
    </button>
    <button id="stopBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Stop
    </button>
  </div>
  


  <div class="bs-callout bs-callout-info" id="callout-type-dl-truncate">
    <h4>Instructions</h4>
    <p>Coming soon.</p>
  </div>

  
</div>
{% end %}

{% block script %}
    <script src="../static/js/agent.manage.js"></script>
{% end %}