<!DOCTYPE html>

{% extends "../navbar.html" %}

{% block title %}Manage{% end %}

{% block head %}
<link href="/static/css/agent.manage.css" rel="stylesheet">
{% end %}

{% block body %}
<div class="container form-block">


  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th> 
        <th></th>
       </tr>
     </thead>
     <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>阿里云青岛</td>
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td>115.28.6.83</td>
      </tr>
      <tr>
        <th scope="row">Port</th>
        <td>15501</td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td>Stopped</td>
      </tr>
      <tr>
        <th scope="row">Package</th>
        <td><a href="#">hello-release-v1.0.0.tar.gz</a></td>
      </tr>

    </tbody>
  </table>
  


  <div class="input-group">
    <span class="input-group-addon" id="basic-addon2">new package</span>
    <input id="inputName" type="text" class="form-control" placeholder="Choose new package" aria-describedby="basic-addon2">
  </div>

  <div class="button-holder">
    <button id="submitBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
    </button>
    <button id="submitBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Pull
    </button>
    <button id="cancelBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start
    </button>
    <button id="cancelBtn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Stop
    </button>
  </div>
  


  <div class="bs-callout bs-callout-info" id="callout-type-dl-truncate">
    <h4>Auto-truncating</h4>
    <p>Horizontal description lists will truncate terms that are too long to fit in the left column with <code>text-overflow</code>. In narrower viewports, they will change to the default stacked layout.</p>
  </div>

  
</div>
{% end %}