<!doctype html>
<head>
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/webuploader/0.1.5/webuploader.css">
</head>

<body>
<div id="uploader" class="wu-example">


    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>


</div>
<script src="http://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/webuploader/0.1.5/webuploader.js"></script>
<script src="../../static/js/package.upload.js"></script>
</body>
</html>